1.loadimages/*.o
1.loadimages/core
1.loadimages/load_1
1.loadimages/load_2

2.blur/*.o
2.blur/core
2.blur/blur

3.roi/*.o
3.roi/core
3.roi/roi

4.segmentation/*.o
4.segmentation/core
4.segmentation/segmentation

5.imread/*.o
5.imread/core
5.imread/imread

6.threshold/*.o
6.threshold/core
6.threshold/threshold
